
.container{
	margin: 0%;
	background-color: #82cafa;
	width: 100%;
	

}
.about {
	margin-top: 8%;

	color: #000;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	transition: 0.9s;

}

.about img{
	width: 20%;
	height: 30%;
	border: 20px solid #82cafa;
	border-radius: 100%;
	transition-duration: 1s;
}
.about img:hover{

	border: 2px solid #081072f5;
	width: 22%;
	height: 23%;
	border-radius: 100%;
	transition-duration: 0.8s;
}
.about p{
	margin-top: 0%;
	margin-left: 2%;
	transition: 0.9s;
}





/**skills**/
.skill{
	margin-top: 5%;
	font-family: sans-serif;
	font-size: 250%;
}

.skill .box{
	margin-top: -2%;
	margin-left: 15%;
	/*padding: 0%;*/
	font-size: 50%;
}
meter{
	width: 80%;
	height: 20%;
	color: #fff;
	transition: 0.9s;
}

.html,.c,.j,.clb,.pyt,.css{
	margin-top: 1%;
	margin-left: 18%;
	text-align: center;
	border: 1px solid white;
	background-color: #000;
	color: #fff;
	width: 50%;
	height: 100px;
	border-radius: 20px;
	transition: 0.9s;
}
.css:hover,.html:hover,.j:hover,.clb:hover,.pyt:hover{
	transition: 0.9s;
	background-color: #000efefe;
	background-color: #fff;
	color: #000;
	border-radius: 90px;

}


.form{
	text-align: center;
	text-decoration: none;

}
input{
	text-decoration: none;
	border: none;
	font-size: 120%;
	margin-top: 2%;
	margin-bottom:35px;
	background: transparent;
	transition: 0.6s;
	width: 280px;
	outline: none;
	border-bottom: 1px solid white;
	padding: 5px;
	color: white;
}
.con h3{
	font-size: 250%;
	margin-top: 20%;
}
.sub{
	margin-left: 0%;
	font-size: 120%;
	background-color: #fff;
	color: #000;
	border-radius: 10%;
	transition: 0.6s;

}
.sub:hover{
	font-size: 130%;
	transition: 0.6s;
}
#txt{
	border-top: 1px solid white;
	height: 120px;
}
input:hover{
	font-size: 140%;
	transition: 0.6s;
}
.icons img{
	width: 2%;
	height: 3%;
	margin-top: 2%;
	margin-left: 10%;
	border: 0px solid #000;
	border-radius: 100%;
	transition: 0.5s;
	padding: 5px;
	margin-right: -9%;
}
.icons img:hover{
	width: 2.2%;
	height: 2%;
	transition: 0.5s;
}
#side ul li{
	list-style-type: none;
	margin-left: 12%;

}
#rse{
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	background-color: #009fff;
	width: 4.5em;
	transition: 0.9s;
	font-size:110%;
}
#bh{
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	background-color: #009fff;
	width: 4em;
	transition: 0.9s;
	font-size:100%;
	display: none;
}
#bh:hover{
	width: 4em;
	transition: 0.6s;
	font-size:120%;	
	cursor: default;
	outline-style: none;
}
#rse:hover{
	width: 4em;
	transition: 0.6s;
	font-size:120%;	
	cursor: default;
}
#igm:hover{
	width: 7.5em;
	height: 2.3em;
	font-size: 1em;
	transition: 0.6s;
}
/*resume image*/
#image{
	margin-left: 28%;
	width: 45em;
	height: 45em;
}
@media screen and (max-width: 500px)
{

	#menu {width:100%;
		margin-top: 5%;font-size: 50%;
		list-style-type: none;
		}
	.icons img{
		width: 2%;
		height: 2.5%;
		margin-top: 0%;
		margin-left: 1%;
		padding: 0.91%;
		margin-right: -0.3%;
	}
	#p {
		font-size: 200%;
		margin-left: 0%;
		margin-top: 30%;
	}
	#d{
		font-size: 250%;
		margin-left: 0%;
		font-family: monospace;
	}
	#c{
		font-size: 250%;
		margin-left: 0%;
		font-family: monospace;
	}
	#bb{
		font-size: 90%;
		margin-left: 0%;

	}
	#bt li {
		display: inline-block;
		background-color: #007fff;
		font-size: 70%;
		text-align: center;
		padding: 0.3%;
		color: white;
		width: 18%;
		height: 1%;
		border-radius: 15px;
		margin-left: -10%;
		transition-duration: 0.6s;
		}
		.imgg img{
			border: 1px solid white;
			margin-top: -90%;
			margin-right: 5%;
			width: 35%;

		}
		.imgg img:hover{
			width: 33%;
		}
		.list li button{
			margin-left: 5%;
			margin-right: 10%;
			padding: 2%;
			display: inline-block;
			list-style-type: none;

					
		}
		.list li{
			padding: 4%;
		}
		.container{
			margin-top: 35%;
			
		}
		.about p{
			font-size: 40%;
		}
		.list li button:hover{
			font-size: 141%;
			background-color: #fff;
			transition: 0.9s;
			width: 15%;
			height: 4%;
			color: #000;
			border-radius: 6%;


		}
		/*skilss*/
		.clb,.html,.css,.pyt,.j{
			width: 80%;
			margin-left: 0%;
			margin-top: 5%;
			height: 20%;
		}
		meter{
    		height: 1em;
    		width: 90%;

		}
		/*resume image*/
 		#image{
			margin-left: 15%;
			width: 70%;
			height: 70%;}
		#bh{
			
				margin-left: 42%;
		}
		#rse{
			margin-left: 10%;
		}


}





