.navbar-nav > .nav-item{
    padding: 0 15px;

}
.navbar-collapse>ul{
    margin-right:0px !important
}
.navbar-collapse>ul>li>a{
    font-size:20px
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
.my-btn>.nav-link{
    border: 1px solid transparent;
    border-radius:15px ;
}
.ban-par{
    /* background: black; */
    padding: 0;
}
.banner{
    max-width: 100%;
     background-image: linear-gradient( #000428,#004e92);
    background-size: cover;
    height: auto;
    opacity: 0.9;
    z-index: 10;
}
.row{
    margin:0;
}
.support p{
    font-size: 14px;
}
.matter p{
    font-size: 20px;
}
.abt{
    border-bottom: 5px solid white;
}
.card-body h4>i{
    font-size: 60px;
    color: #004e92;
    margin-bottom:5%
}
.card-title{
    color: #004e92;
    font-weight: 700;
}
.card{
    border:1px solid black
}
.card-footer{
    background-color: #004e92;
    padding: 0;
    transition: 0.6;
}
.card-footer a{
    color: white;
    border: none;
    border-top: 1px solid black;
    border-radius: none;
}
.card-footer:hover{
    background-color: rgb(217, 217, 217);
    color: black;
    transition: 0.6;
    
}

.activeprice{
    background-color: #000428;
    color: white;
}
.pricing{
    cursor: pointer;
    border: 1px solid black !important;

}
